{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block main %}
<div id="login" class="centerpiece">
<form name="loginform" method="POST" action="{{ url_for('login') }}" onsubmit="return false;">
<table>
<tr>
   <td>Username:</td>
  <td><input type="text" name="login_username" size="20"
  autocomplete="no" value="{{ login_username }}"></td>
</tr>
<tr>
  <td colspan=2>
  <input type="submit" name="submit_login" value="Log in" onclick="login()">
  <input type="submit" name="submit_registration" value="Register" onclick="register()"></td>
</tr>
</table>
<input type="hidden" name="nexturl" value="{{ nexturl }}">
</form>
</div>
<div class="footer warning">
{{ login_error }}
</div>

<script>document.loginform.login_username.focus();</script>
<script> 

function base64urlToBuffer(baseurl64String) {
  // Base64url to Base64
  const padding = "==".slice(0, (4 - (baseurl64String.length % 4)) % 4);
  const base64String =
    baseurl64String.replace(/-/g, "+").replace(/_/g, "/") + padding;

  // Base64 to binary string
  const str = atob(base64String);

  // Binary string to buffer
  const buffer = new ArrayBuffer(str.length);
  const byteView = new Uint8Array(buffer);
  for (let i = 0; i < str.length; i++) {
    byteView[i] = str.charCodeAt(i);
  }
  return buffer;
}

function bufferToBase64url(buffer) {
  // Buffer to binary string
  const byteView = new Uint8Array(buffer);
  let str = "";
  for (const charCode of byteView) {
    str += String.fromCharCode(charCode);
  }

  // Binary string to base64
  const base64String = btoa(str);

  // Base64 to base64url
  // We assume that the base64url string is well-formed.
  const base64urlString = base64String.replace(/\+/g, "-").replace(
    /\//g,
    "_",
  ).replace(/=/g, "");
  return base64urlString;
}

function submitLoginForm(credResponse, loginMode) {
  let form = document.createElement("form");
  let login_username = document.createElement("input");
  let login_cred = document.createElement("input");
  let nexturl = document.createElement("input");
  let mode = document.createElement("input");
  
  form.method = "POST";
  form.action = "{{ url_for('login') }}";
  form.style.display = "none";
  form.style.visibility = "hidden";

  login_username.name = "login_username";
  login_username.value = document.loginform.login_username.value;
  form.appendChild(login_username);

  login_cred.name = "login_cred";
  login_cred.value = JSON.stringify(credResponse);
  form.appendChild(login_cred);

  nexturl.name = "nexturl";
  nexturl.value = document.loginform.nexturl.value;
  form.appendChild(nexturl);

  mode.name = loginMode;
  form.appendChild(mode);

  document.body.appendChild(form);
  form.submit();
}

async function register() {
  const reg_response = await fetch('/zoobar/index.cgi/get_register_challenge', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      login_username: document.loginform.login_username.value,
    })
  });

  const pkOptions = await reg_response.json()
  console.log(pkOptions);
  pkOptions["challenge"] = base64urlToBuffer(pkOptions["challenge"]);
  pkOptions["user"]["id"] = base64urlToBuffer(pkOptions["user"]["id"]);
  pkOptions["timeout"] = 20000;

  let credential;
  try {
    credential = await navigator.credentials.create({
      publicKey: pkOptions
    });
  }
  catch (error) {
    console.log("Error in cred creation.");
    submitLoginForm({}, "submit_registration");
  }
  console.log(credential);
  const credResponse = {
    id: credential.id,
    rawId: bufferToBase64url(credential.rawId),
    response: {
      attestationObject: bufferToBase64url(credential.response.attestationObject),
      clientDataJSON: bufferToBase64url(credential.response.clientDataJSON),
      transports: credential.response.getTransports(),
    },
    type: credential.type,
    clientExtensionResults: {},
  };
  console.log(credResponse);
  submitLoginForm(credResponse, "submit_registration")
}

async function login() {
  const auth_response = await fetch('/zoobar/index.cgi/get_auth_challenge', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      login_username: document.loginform.login_username.value,
    })
  });

  const pkOptions = await auth_response.json()
  console.log(pkOptions);
  console.log(pkOptions["allowCredentials"]);
  pkOptions["challenge"] = base64urlToBuffer(pkOptions["challenge"]);
  pkOptions["allowCredentials"] = [{
    id: base64urlToBuffer(pkOptions["allowCredentials"][0]["id"]),
    type: 'public-key',
    transports: ['usb', 'ble', 'nfc'],
  }];
  pkOptions["timeout"] = 20000;

  let credential;
  try {
    credential = await navigator.credentials.get({
      publicKey: pkOptions
    });
  }
  catch (error) {
    console.log("Auth cred error.");
    submitLoginForm({}, "submit_login");
  }
  console.log(credential);

  const credResponse = {
    id: credential.id,
    rawId: bufferToBase64url(credential.rawId),
    response: {
      authenticatorData: bufferToBase64url(credential.response.authenticatorData),
      clientDataJSON: bufferToBase64url(credential.response.clientDataJSON),
      signature: bufferToBase64url(credential.response.signature),
      userHandle: bufferToBase64url(credential.response.userHandle),
    },
    type: credential.type,
  };
  console.log(credResponse);
  submitLoginForm(credResponse, "submit_login")
}

</script>
{% endblock %}
